
.common{
    width: 88%;
    margin: 0 auto;

}

.tableHead{
    background-color: #bddfeb;
}

.tableHead th {
    color:  #630263!important;
    font-weight: 400;
    font-size: 20px;
}


.message{
    color: #b23222;
    font-weight: 500;
    font-size: 20px;
}