.common {
    width: 88%;
    margin: 0 auto;
}

.namePack {
    margin-top: 30px;
    font-weight: 700;
    font-size: 32px;
    color: #4f5158;
}
.text{
    font-weight: 500;
    font-size: 17px;
    color: #4f5158;
}

.blokTextAndButton {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.buttonAdd {
    width: 185px;
    height: 55px;
    margin-top: 30px;
    margin-bottom: 10px;
    background-color: #0787cb;
    border: 2px solid #0787cb;
    color: white;
    border-radius: 8px;
    box-shadow: 2px 2px 5px 2px #bdae5b;
    font-size: 20px;
}

.buttonAdd:hover {
    transform: scale(1.1);
    background-color: #055f8f;;
    border: 2px solid #055f8f;
    box-shadow: 2px 2px 5px 2px #af8345;
    transition: 0.5s;
}