
.common {
    display: flex;
    justify-content: space-between;
}

.common div {
    color: #4f5158 !important;
    font-weight: 500;
    font-size: 20px;
}

.input {
    width: 400px;
    height: 40px;
    font-size: 20px;
}

.button {
    width: 185px;
    height: 40px;
    margin-top: 30px;
    margin-bottom: 10px;
    background-color: #fbfbfb;
    border: 2px solid #eef2f5;
    color: #434447;
    border-radius: 15px;
    box-shadow: 2px 2px 5px 2px #c0c0be;
    font-size: 20px;
}

.button:hover {
    transform: scale(1.1);
    background-color: #f1f1f4;;
    border: 2px solid #c8cdcf;
    box-shadow: 2px 2px 5px 2px #666664;
    transition: 0.5s;
}

/*
.button {
    width: 185px;
    height: 40px;
    margin-top: 30px;
    margin-bottom: 10px;
    background-color: #0787cb;
    border: 2px solid #0787cb;
    color: white;
    border-radius: 8px;
    box-shadow: 2px 2px 5px 2px #bdae5b;
    font-size: 20px;
}

.button:hover {
    transform: scale(1.1);
    background-color: #055f8f;;
    border: 2px solid #055f8f;
    box-shadow: 2px 2px 5px 2px #af8345;
    transition: 0.5s;
}*/
