
.common{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container{
  width:360px;
    height: 500px;
    border: 2px solid lavender;
    border-radius: 10px;
    box-shadow: #c7c5c5 7px  8px 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.title{
    font-size: 30px;
    color: #423c3c;
}